In [1]:
import pandas as pd

# Create a dictionary with the data
data = {
    "State": ["Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh", 
              "Goa", "Gujarat", "Haryana", "Himachal Pradesh", "Jammu & Kashmir",
              "Jharkhand", "Karnataka", "Kerala", "Madhya Pradesh", "Maharashtra",
              "Manipur", "Meghalaya", "Mizoram", "Nagaland", "Odisha",
              "Punjab", "Rajasthan", "Sikkim", "Tamil Nadu", "Tripura",
              "Uttar Pradesh", "Uttarakhand", "West Bengal"],
    
    "Population_2001": [76210000, 1097968, 26655528, 82998509, 20833803,
                        1347668, 50671017, 21144564, 6077248, 10069917,
                        26945829, 52733003, 31841374, 60348023, 96878627,
                        2166788, 2318822, 888573, 1980602, 36706920,
                        24358999, 56507188, 540851, 62405679, 3199203,
                        166052859, 8489349, 80176197],
    
    "Population_2011": [84665533, 1382611, 31169272, 104099452, 25545198,
                        1458545, 60439692, 25353081, 6864602, 12541302,
                        32988134, 61095297, 33406061, 72626809, 112374333,
                        2721756, 2964007, 1097206, 1978502, 41947358,
                        27743338, 68548437, 610577, 72147030, 3673917,
                        199812341, 10086292, 91276115],
    
    "Literacy_Rate_2001": [60.47, 54.34, 63.25, 47.0, 64.66,
                           82.01, 69.14, 67.91, 76.48, 55.52,
                           53.56, 66.64, 90.92, 63.74, 76.88,
                           68.87, 62.56, 88.8, 66.59, 63.08,
                           69.65, 60.41, 68.81, 73.47, 73.19,
                           57.36, 71.62, 68.64],
    
    "Literacy_Rate_2011": [67.02, 65.38, 72.19, 61.8, 70.28,
                           87.40, 78.03, 76.64, 82.80, 67.16,
                           66.41, 75.36, 94.00, 69.32, 82.34,
                           79.21, 74.43, 91.33, 79.55, 72.87,
                           75.84, 66.11, 81.42, 80.09, 87.22,
                           69.72, 78.82, 77.08],
    
    "Area_km2": [162968, 83743, 78438, 94163, 135191,
                 3702, 196024, 44212, 55673, 222236,
                 79714, 191791, 38863, 308350, 307713,
                 22327, 22429, 21081, 16579, 155707,
                 50362, 342239, 7096, 130058, 10486,
                 243286, 53483, 88752]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv("india_state_data_2001_2012.csv", index=False)

# Display the DataFrame
df

,State,Population_2001,Population_2011,Literacy_Rate_2001,Literacy_Rate_2011,Area_km2
0,Andhra Pradesh,76210000,84665533,60.47,67.02,162968
1,Arunachal Pradesh,1097968,1382611,54.34,65.38,83743
2,Assam,26655528,31169272,63.25,72.19,78438
3,Bihar,82998509,104099452,47.00,61.80,94163
4,Chhattisgarh,20833803,25545198,64.66,70.28,135191
5,Goa,1347668,1458545,82.01,87.40,3702
6,Gujarat,50671017,60439692,69.14,78.03,196024
7,Haryana,21144564,25353081,67.91,76.64,44212
8,Himachal Pradesh,6077248,6864602,76.48,82.80,55673
9,Jammu & Kashmir,10069917,12541302,55.52,67.16,222236
10,Jharkhand,26945829,32988134,53.56,66.41,79714
11,Karnataka,52733003,61095297,66.64,75.36,191791
12,Kerala,31841374,33406061,90.92,94.00,38863
13,Madhya Pradesh,60348023,72626809,63.74,69.32,308350
14,Maharashtra,96878627,112374333,76.88,82.34,307713
15,Manipur,2166788,2721756,68.87,79.21,22327
16,Meghalaya,2318822,2964007,62.56,74.43,22429
17,Mizoram,888573,1097206,88.80,91.33,21081
18,Nagaland,1980602,1978502,66.59,79.55,16579
19,Odisha,36706920,41947358,63.08,72.87,155707
20,Punjab,24358999,27743338,69.65,75.84,50362
21,Rajasthan,56507188,68548437,60.41,66.11,342239
22,Sikkim,540851,610577,68.81,81.42,7096
23,Tamil Nadu,62405679,72147030,73.47,80.09,130058
24,Tripura,3199203,3673917,73.19,87.22,10486
25,Uttar Pradesh,166052859,199812341,57.36,69.72,243286
26,Uttarakhand,8489349,10086292,71.62,78.82,53483
27,West Bengal,80176197,91276115,68.64,77.08,88752